
#coll10Card{
    grid-row: 3;
    margin: 30px;
    background-color: white;
    height: 45vh;
    width: 371px;
    border-radius: 20px;
    color: black;
}

#coll10Card img{
    border-radius: 20px 20px 0 0 ;
    width: 372px;
    height: 242px;
}

#textonpic {
    color: white;
    margin-top: -230px;
    margin-left: 20px;
    font-size: small;
}

#litllepic img{
    width: 59px;
    height: 59px;
    margin-top: 160px;
    margin-left: 30px;
}

#headlineColl {
    display: flex;
    justify-content: center;
    font-size: small;
    
}

#textColl {
    display: flex;
    justify-content: center;
}