
#coll123Card{
    grid-row: 3;
    grid-column: 4;
    margin: 30px;
    background-color: white;
    height: 45vh;
    width: 371px;
    border-radius: 20px;
    color: black;
    margin-left: -50px;
}
