body {
    background-color: rgba(128, 128, 128, 0.795);
}

#travelCard{
    margin: 30px;
    background-color: white;
    height: 58vh;
    width: 371px;
    border-radius: 20px;
    color: black;
}

#travelCard img{
    border-radius: 20px 20px 0 0 ;
}

#topline {
padding: 20px;
color: rgba(80, 80, 214, 0.685);
font-size: small;
padding-bottom: 0px;
}

#headline {
    padding-left: 20px;
    font-size: large;
}

#text {
    padding-top: -40px;
    padding-left: 20px;
    color: rgb(80, 77, 77);
}